<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Pig Latin Translator Home Page</title>
</head>
<body class="image">
    <div class="main">
        <h1 class="h1">Welcome! Do you know Pig Latin?</h1>
        <p class="p">If you don't, you are in luck. We have built the perfect microservice just for you.</p>
        <p class="p">Click the button below, and discover the wonders of Pig Latin!</p>
        <div class="buttonHolder">
            <a href="http://127.0.0.1:8080/translation">
            <button type="submit" class="button">Let's Start Translating!</button>
            </a>
        </div>
    </div>
</body>
</html>
